.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

.navbar {
      background:transparent;
      position: absolute;
      color: black;
      z-index: 10;
}


.custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
    color: red;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#itemNav {
border-color: rgb(255,102,203);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #ff6666;
  font-family: Impact, Charcoal, sans-serif;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #ff6666;
  font-family: Impact, Charcoal, sans-serif;
}




#container2 {
    background-image: url('https://images5.alphacoders.com/914/thumb-1920-914333.jpg') 	 ;
    width:100%;
    height:auto;
    overflow:hidden;
    
background-repeat: no-repeat;
  background-attachment: fixed;
   



    
}
.bg {
  width:100%; 
  height:180px; 
  
 overflow:hidden;
   }

.bg1 {
width:100%; 
  height:auto; 


}



#footer1
{
 width:100%; 
 background-color: #ffe6b3;
height:300px;
margin-bottom: 20px;
}


.row1 {
   
background-repeat: no-repeat;
  background-attachment: fixed;

}


#container2 > p{
color:#fff;
background:#3e4444;
font-family: "Times New Roman", Times, serif;
text-align: center;



}


.bg > p {
color: white;

}

.bordered {
    width: auto;
    height: auto;
    padding: 10px;
    border: 3px groove #94abd1;
    border-radius: 2px;
    font-family: "Times New Roman", Times, serif;
 font-size: 13px ;



}

.uHeader {
background-image: url('https://images6.alphacoders.com/532/thumb-1920-532673.jpg') ;
width: auto;
height: 400px;
background-repeat: no-repeat;
  background-attachment: fixed;


}

    
.bg1 > div {


}


body {

	background-image: url('https://i.imgur.com/2vIOsf1.jpg') ;
 
background-repeat: no-repeat;
  background-attachment: fixed;

}


.social-media >p {
float: bottom;
color: black;
display: inline-block;
padding-top: 250px;
}


.whiteText > h2 {

color: white;

}

.whiteText > p {

	color: white;
}

.form-group > label {
	color: white;
}

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}